.navbar-custom {
    background-color: rgb(45, 93, 213) !important; 
  }

body {
  background-color: #d8d9da;
}


.tamaño {
  width: 100px;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; 
}

.titulo{
  margin-top: 10px;
  margin-bottom: 10px;
}
  

.productos-container {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
}

.producto {
  flex: 0 0 auto;
  margin-right: 10px; 
}
